<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <nav class="custom-navbar bg-black">
        <%= image_tag "movie_logo.png", alt: "Le Wagon", width: 50 %>
        <form class="d-flex ">
          <input type="submit" class="" value="My list">
          <input type="submit" class="" value="New List">
        </form>
      </nav>
    </div>
    <div class="head-image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
      <h1 class="text-center">Save Any Kind Of Movie</h1>
      <h5 class="text-center">Genre</h5>
    </div>
    <%= yield %>
  </body>
</html>
