<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <nav class="navbar bg-black">
        <%= image_tag "movie_logo.png", alt: "Le Wagon", width: 50 %>
        <form class="d-flex ">
          <input type="submit" class="" value="My list">
          <input type="submit" class="" value="New List">
        </form>
      </nav>
    </div>
    <div class="card text-bg-dark">
    <%= image_tag "mountain.jpeg", alt: "mountain", height: 500 %>
    <div class="card-img-overlay mt-5">
      <h1 class="card-title text-center h1-animation fs-1">Save Any King Of Movies</h1>
      <p class="card-text text-center fs-2">Start Saving Now</p>
    </div>
  </div>
    <%= yield %>

<footer class="footer bg-black">
  <div class="text-center">
    <p class="text-white">&copy; 2024 Your Company
    <i class="fab fa-facebook"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram"></i></p>
  </div>
</footer>
  </body>
</html>
